body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
    padding:20px;
}
input, button {
    padding:5px 10px;
    margin-bottom:5px;
}
td {
    width:150px;
    padding:2px 10px;
}
a {
    text-decoration:none;
}
.header {
    margin:30px 0;
}
    .header nav {
        display:inline-block;
        margin-top:15px;
    }
        .header nav a {
            padding:10px;
        }
        .header nav .active {
            text-decoration:underline;
        }
    .logo {
        padding:0;
        width:70px;
        vertical-align:middle;
    }
