body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
    padding:20px;
}
input, button {
    padding:5px 10px;
    margin-bottom:5px;
}
td {
    width:150px;
    padding:2px 10px;
}
a {
    text-decoration:none;
}
.header {
    margin:30px 0;
}
    .header a {
        padding:10px;
        border:1px solid #333;
    }
    .header .active {
        background:#ccc;
    }
    .logo {
        padding:0;
        width:40px;
        vertical-align:middle;
    }
